In [1]:
#Import libraries
%run python_files/imports

In [3]:
auto_df = pd.read_csv('data/auto_insurance_data.csv')

In [4]:
auto_df.describe()

,CRASH,CRASH_COST,KIDSDRIV,AGE,HOMEKIDS,YOJ,INCOME,HOME_VAL,TRAVTIME,BLUEBOOK,TIF,OLDCLAIM,CLM_FREQ,MVR_PTS,CAR_AGE
count,6044.000000,6044.000000,6044.000000,6044.000000,6044.000000,6044.000000,6044.000000,6044.000000,6044.000000,6044.000000,6044.000000,6044.000000,6044.000000,6044.000000,6044.000000
mean,0.264891,1479.664479,0.173230,44.628061,0.743547,10.494375,58178.583187,150091.831763,33.695527,15235.584050,5.360523,3999.992058,0.783752,1.699868,7.922733
std,0.441312,4553.548768,0.515462,8.708472,1.132793,4.138805,43830.436426,123736.396505,15.889558,8041.627756,4.144970,8815.064402,1.153627,2.158059,5.582574
min,0.000000,0.000000,0.000000,16.000000,0.000000,0.000000,0.000000,0.000000,5.000000,1500.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,39.000000,0.000000,9.000000,26745.589935,0.000000,22.800199,9170.000000,1.000000,0.000000,0.000000,0.000000,1.000000
50%,0.000000,0.000000,0.000000,45.000000,0.000000,11.000000,51624.202055,159147.432550,33.016349,14080.000000,4.000000,0.000000,0.000000,1.000000,8.000000
75%,1.000000,1036.250000,0.000000,51.000000,1.000000,13.000000,81289.165560,233060.839575,43.945989,20120.000000,7.000000,4540.000000,2.000000,3.000000,12.000000
max,1.000000,85523.653350,4.000000,81.000000,5.000000,23.000000,367030.262000,885282.345000,142.120630,65970.000000,25.000000,57037.000000,5.000000,13.000000,28.000000

pandas.core.series.Series

In [6]:
l = auto_df['CRASH_COST'].quantile(0.2)
ml = auto_df['CRASH_COST'].quantile(0.2)
m = auto_df['CRASH_COST'].quantile(0.2)
mh = auto_df['CRASH_COST'].quantile(0.2)
h = auto_df['CRASH_COST'].quantile(0.2)
data_1 = auto_df[auto_df['CRASH_COST']<l]

In [7]:
data_1

Empty DataFrame
Columns: [CRASH, CRASH_COST, KIDSDRIV, AGE, HOMEKIDS, YOJ, INCOME, PARENT1, HOME_VAL, MSTATUS, SEX, EDUCATION, JOB, TRAVTIME, CAR_USE, BLUEBOOK, TIF, CAR_TYPE, RED_CAR, OLDCLAIM, CLM_FREQ, REVOKED, MVR_PTS, CAR_AGE, URBANICITY]
Index: []